<div *ngIf="orders">
  <h2 class="red-text text-lighten-2">Order List</h2>
  <table class="striped highlight">
    <thead>
      <th>Mennyiség</th>
      <th>Dátum</th>
      <th>Állapot</th>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <th>{{order.amount}}</th>
      <th>{{order.orderDate | date : "yyyy.MM.dd"}}</th>
      <th><a routerLink="/user/{{order.id}}">{{order.status}}</a></th>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!orders">
    <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
