<div *ngIf="product">
  <h3>Termékek</h3>
  <ul class="collection">
    <app-product *ngFor="let p of product" 
              [product]="p"
              (delProducts)="delProducts($event)"
              (addProducts)="addProducts($event)">
    </app-product>
  </ul>
</div>
<div *ngIf="!product">
    <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
