<div *ngIf="product">
  <h3>Termékek</h3>
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Kategóriák</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/product">Összes</a></li>
          <li><a routerLink="/product/productByCategory/3">Női</a></li>
          <li><a routerLink="/product/productByCategory/4">Férfi</a></li>
          <li><a routerLink="/product/productByCategory/2">Tech</a></li>
          <li><a routerLink="/product/productByCategory/0">Art</a></li>
          <li><a routerLink="/product/productByCategory/1">Otthon</a></li>
        </ul>
      </div>
    </nav>
  <ul  class="collection">
    <app-product *ngFor="let p of product" 
              [product]="p"
              (delProducts)="delProducts($event)"
              (addProducts)="addProducts($event)">
    </app-product>
  </ul>
  <span *ngIf="error" class="new badge red" data-badge-caption="" style="font-size: 24px">
    A termék szerepel rendelésben, nem törölhető!
  </span>
</div>
<div *ngIf="!product">
    <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
