<div *ngIf="user">
  <h3 class="red-text text-lighten-2">Felhasználó név: {{user.username}}</h3>
  <h4 class="red-text text-lighten-2">Rendelések</h4>
  <ul class="collection">
    <app-orders *ngFor="let order of user.orders" [order]="order"
              (delOrders)="delOrder($event)"></app-orders>
  </ul>
</div>
<div *ngIf="!user">
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>