<div *ngIf="user">
  <h2 class="red-text text-lighten-2">{{user.username}}</h2>
  <table>
    <tbody>
      <tr>
        <th>Felhasználó név</th>
        <td>{{user.username}}</td>
      </tr>
    </tbody>
  </table>
  <h3>Rendelések</h3>
  <ul class="collection">
    <app-orders *ngFor="let order of user.orders" [order]="order"
              (delOrders)="delOrder($event)"></app-orders>
  </ul>
</div>
<div *ngIf="!user">
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>