<a routerLink="/orders/{{order.id}}" class="collection-item">
  <span
    class="right delete" (click)="clickButton($event)">
  <i class="material-icons red-text">delete</i>
  </span>
  <span>
    Termék név: 
    <b>{{order.product.name}}</b> <br>
  </span>
  <span>
    Mennyiség: 
    <b>{{order.amount}}  </b> <br>
  </span>
  <span>
    Dátum: 
    <b> {{order.orderDate | date : "yyyy.MM.dd"}}</b> <br>
  </span>
  <span>
      Ár: 
      <b> {{order.product.price * order.amount}}</b> <br>
  </span>
</a>