<a class="btn-flat right" routerLink="/orders">Vissza a lista nézetbe</a>
<div *ngIf="orders">
  <table>
    <tbody>
      <tr>
        <th>Mennyiség</th>
        <td>{{orders.amount}}</td>
      </tr>
      <tr>
        <th>Dátum</th>
        <td>{{orders.date}}</td>
      </tr>
      <tr>
        <th>Státusz</th>
        <td>{{orders.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!orders">
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>