<div class="card col s12 m6" *ngIf="order">
    <span
    class="right" (click)="payOrder()" *ngIf="!order.status">
      <i class="material-icons red-text" style="font-size: 4.5rem">monetization_on</i>
    </span>
    <span class="right" *ngIf="order.status">
        <i class="material-icons red-text" style="font-size: 4.5rem">money_off</i>
    </span>
    <span>
      Termék név: 
      <b>{{order.product.name}}</b> <br>
    </span>
    <span>
      Mennyiség: 
      <b>{{order.amount}}  </b> <br>
    </span>
    <span>
      Dátum: 
      <b> {{order.orderDate | date : "yyyy.MM.dd"}}</b> <br>
    </span>
    <span>
        Ár: 
        <b> {{order.product.price * order.amount}}</b> <br>
    </span>
    
</div>
<div *ngIf="!order">
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>