<a routerLink="/product/{{product.id}}" class="collection-item">
  <span *ngIf="authService.hasRole('ADMIN') || authService.hasRole('USER')" class="right create" (click)="clickAdd($event)">
    <i class="material-icons">add_shopping_cart</i>
  </span>
  <span *ngIf="authService.hasRole('ADMIN')"
        class="right delete" (click)="clickDeleteButton($event)">
    <i class="material-icons red-text">delete</i>
  </span>
  <span class="new badge" data-badge-caption="">{{product.price}}</span>
  <span>
    {{product.name}}
  </span>
</a>